body {
    background-color: #444;
    color: rgb(255, 246, 116);
}

header {
    display: flex;
    justify-content: center;
    text-shadow: 5px 5px 5px #222;
    font-size: 2rem;
}

.btn {
    background-color: rgb(63, 255, 175);
    border: 1px solid #222;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(36, 51, 86);
    height: 3rem;
    width: 10rem;
}

p {
    display: block;
    text-align: center;
    text-shadow: 5px 5px 5px #222;
    font-size: 2rem;
}

.btn:hover {
    box-shadow: 0 2px var(--shadow);
    top: -2px;
}

.btn:active {
    box-shadow: 0 0px var(--shadow);
    top: 0;
}

.container {
    display: block;
    text-align: center;
    text-shadow: 5px 5px 5px #222;
    font-size: 2rem;
}

li {
    list-style: none;
}

.stats {
    display: block;
    text-align: center;
    text-shadow: 5px 5px 5px #222;
    font-size: 2rem;
}

.choice {
    background-color: rgb(120, 156, 254);
    border: 1px solid #222;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(36, 51, 86);
    height: 3rem;
    width: 10rem;
}

.hide {
    display: none;
}